# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This file designates code owners for the repository. All files are owned by the user below.
* @R3DSKZuLlZx
